@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: #292643;
}

/* Section 1 - header/nav */
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  color: #292643;
  background-color: #e99e75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  margin-left: 80px;
}

.navbar a {
  position: relative;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 80px;
  color: #292643;
}

/* Section 1 - main title, text & img */
.section {
  width: 100%;
  background-color: #e99e75;
  padding: 65px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.section-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 450px;
}
.title {
  font-size: 48px;
  font-weight: 900;
  color: #292643;
  display: flex;
  align-items: flex-start;
}

.subtext {
  font-size: 18px;
  color: #292643;
  display: flex;
  padding: 10px 0;
  align-items: flex-start;
}

.button {
  background-color: #776483;
  color: #fff;
  padding: 5px 20px;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
}

.section-right {
  max-width: 550px;
  display: flex;
  align-items: flex-end;
}

img {
  width: 100%;
  border-radius: 2em;
}

/* Section 2 - info text/visuals! */
.section-two {
  padding: 100px;
  padding-top: 10px;
  text-align: center;
}

#title {
  color: #776483;
  font-size: 36px;
  font-weight: bolder;
  padding: 20px;
  margin-bottom: 30px;
}

.graphics {
  font-size: 18px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

p {
  padding-top: 12px;
  color: #776483;
}

.image {
  width: 200px;
}

/* Section 3 - quote text */
.section-three {
  background-color: #bbaab8;
  padding: 100px 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #292643;
}

.quote-author {
  color: #292643;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

/* Section 4 - call to action */
.section-four {
  margin: 100px 185px;
  padding: 45px;
  background-color: #776483;
  border-radius: 8px;
  color: #e99e75;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.left-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.title-two {
  color: #e99e75;
  display: flex;
  align-items: flex-start;
}

.subtext-two {
  font-size: 16px;
  color: #292643;
  display: flex;
  padding: 10px 0;
  align-items: flex-start;
}

.cta-button {
  display: flex;
  align-self: center;
  background-color: #e99e75;
  color: #292643;
  padding: 5px 20px;
  border-radius: 8px;
  border: 2px solid white;
  cursor: pointer;
}

/* footer */
.footer {
  width: 100%;
  font-size: 12px;
  background: #e99e75;
  color: #292643;
  bottom: 0;
  padding: 40px;
  text-align: center;
}
