@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Poppins", sans-serif;
  box-sizing: border-box;
  color: #292643;
}

body {
  height: 100vh;
}
/* Section 1 - header & main text */

.header-container {
  color: #292643;
  background-color: #e99e75;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.logo,
.main {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}
.header {
  width: 900px;
  display: flex;
  justify-content: flex-end;
}

.one,
.two,
.three {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 600;
}

.container-main {
  background-color: #e99e75;
  padding: 120px 0;
  display: flex;
  justify-content: center;
}
.logo {
  font-size: 24px;
  font-weight: 900;
}

.main {
  font-size: 48px;
}
/* Section 2 - information text */

/* Section 3 - quote text */

/* Section 4 - call to action */

/* footer */
.footer {
  width: 100%;
  font-size: 12px;
  position: fixed;
  background: #e99e75;
  color: #292643;
  bottom: 0;
  padding: 40px;
  text-align: center;
}
